.projects{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.project-title{
    position: relative;
}

.project-title h1{
    font-size: 60px;
    font-weight: 600;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.project{
    width: 100%; /* Adjust the width as needed */
    margin-bottom: 20px;
}
.projects-container img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    
}

.projects-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

@media(max-width:768px) {
    .project-title h1{
        font-size: 40px;
        padding: 0;
    }

    .projects-container{
        grid-template-columns: 1fr;
    }
}