.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin: 30px 170px;
}

.project-title{
    position: relative;
    margin-top: 70px;
}

.project-title h1{
    font-size: 60px;
    font-weight: 600;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.project{
    width: 100%; /* Adjust the width as needed */
    margin-bottom: 20px;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.projects-container img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    
}

.projects-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project a {
    display: inline-block;
    text-decoration: none; /* Removes the underline */
    padding: 10px 20px; /* Adds padding around the text */
    font-size: 18px;
    font-weight: 400;
    color: black;
  }

@media(max-width:768px) {
    .projects{
        text-align: center;
        margin: 80px 70px;
    }
    .project-title h1{
        font-size: 45px;
        padding: 0;
    }

    .projects-container{
        grid-template-columns: 1fr;
    }
}

@media(max-width:430px){
    .projects{
        text-align: center;
        margin: 0px 70px;
    }
    .project-title h1{
        display: none;
    }

    .projects-container img{
        width: 100%;
        height: auto;
        border-radius: 8px;
        
    }
}
