.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.footericon{
    display: none;
}

.footer-bottom{
    text-align: center;
    font-size: 18px;
}

@media(max-width:768px) {
.footericon{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.footericon img {
    width: 50px;
    height: 50px;
    padding: 0px 20px;
    cursor: pointer;
    transition: 0.5s;
}}

@media(max-width:430px) {
    .footer-bottom{
        font-size: 10px;
    }

    .footericon{
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .footericon img {
        width: 50px;
        height: 50px;
        padding: 0px 20px;
        cursor: pointer;
        transition: 0.5s;
    }
}

