.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.footer-bottom{
    text-align: center;
    font-size: 18px;
}

@media(max-width:320px) {
    .footer-bottom{
        font-size: 10px;
    }
}

