.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff; /* Change this to your desired background color */
  z-index: 1000; /* Set z-index to make sure it's above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  font-size: 25px;
}

.nav-menu li:hover {
  color: rgb(117, 143, 143);
  cursor: pointer;
  font-size: 30px;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

.icon img {
  width: 50px;
  height: 50px;
  padding: 0px 20px;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }

  .icon {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #f7f7f7;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
    color: black;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 30px;
  }
}
