.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.header img{
    margin-top: 150px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1{
    text-align: center;
    width: 70%;
    font-size: 30px;
    font-weight: 400;
}

.header p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.header-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.header-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #2359B9 102.06%);
    cursor: pointer;
}

.header-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.header-connect:hover{
    border: 2px solid white;
}

.header-resume:hover{
    border-color: #DA7C25;
}